body {
    background-color: hsl(0, 0%, 8%);
    height: 800px;
}

.infodiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100%;
}

.borders {
    background-color: hsl(0, 0%, 12%);
    width: 325px;
    padding: 30px 45px;
    border-radius: 10px;
}

.borders img {
    width: 90px;
    border-radius: 100px;
}

.p1 {
    font-weight: 600;
    font-size: 23px;
    color: white;
    font-family: "Inter", sans-serif;
    margin: 0;
    padding-top: 24px;
}

.p2 {
    font-size: 13px;
    font-family: "Inter", sans-serif;
    color: hsl(75, 94%, 57%);
    font-weight: 600;
    margin: 0;
    padding-top: 8px;
}

.p3 {
    font-family: "Inter", sans-serif;
    font-size: 13px;
    color: white;
    font-weight: 400;
    padding-top: 17px;
    padding-bottom: 10px;
}




.sociallinks h5 {
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    background-color:  hsl(0, 0%, 20%);
    padding: 18px 5px;
    border-radius: 5px;
    margin: 15px;
}
.sociallinks {
    width: 325px;
}


.sociallinks h5:hover {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 12%);
}


@media (max-width: 375px) {
    .borders {
        width: 300px;
    }
    .sociallinks {
        width: 300px;
    }
}